---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
console.log('Начало')

const response = await fetch('http://localhost:1337/api/dishes?populate=*');
const json = await response.json();

console.log('ALL ДАННЫЕ:', json);
console.log('МАССИВ DATA:', json.data);
console.log('КОЛИЧЕСТВО БЛЮД:', json.data?.length);
console.log('img info:', json.data[0].mealimg)
const dishes = json.data || [];
---
<BaseLayout pageTitle="Меню">
    <section class="flex wrap-break-word justify-around items-center w-screen p-12.5">
        <div class="w-screen p-12.5 overflow-x-scroll">
        <table class="max-sm:text-[15px] text-[1.1em] w-[60%] border-collapse mx-auto text-[#cbe3f8] bg-[#29373e]/42">
            <thead class=" bg-[#29373e]/93">
                <tr>
                    <th>Фото блюда</th>
                    <th>Название и состав блюда</th>
                    <th>Цена (руб.)</th>
                </tr>
            </thead>
           <tbody>
                    {dishes.map((dish: any) => {
                        
                        const imgUrl = dish.mealimg?.[0]?.url; 
                        const fullUrl = imgUrl ? `http://localhost:1337${imgUrl}` : null;

                        return (
                            <tr>
                                <td>
                                    {fullUrl ? (
                                        <img src={fullUrl} alt={dish.name} class="img-menu" style="width: 100px;" />
                                    ) : (
                                        <span>Нет фото</span>
                                    )}
                                </td>
                                <td class="text-left px-5">
                                    {dish.name}
                                    <ol class="ol-menu">
                                       
                                        {dish.ingredient?.map((ing: any) => (
                                            <li>{ing.name}</li>
                                        ))}
                                    </ol>
                                </td>
                                <td>{dish.price} руб. 
                                     <br><br>  
                                     <a href="/kafe_sea/sakas" class=" text-[#29373e]/93">
                                    <button class="button-menu text-[#29373e]/93">Заказать</button></a>
                                </td>
                            </tr>
                        );
                    })}
                </tbody>
        </table>
        </div>
    </section>
</BaseLayout>